<div ng-controller="basicInformationController as basic">
  <div class="md-toolbar-tools" layout="row" layout-align="center center" >
    <cc-trigger activate="basic.activateDatePicker"
                event-name="click"
                element-name="button">
      <md-datepicker
        ng-model="basic.cinemaDate"
        md-placeholder="Enter date"
        class="cc-toolbar-item cc-datepicker"
        md-min-date="basic.minDate"
        md-max-date="basic.maxDate"
        md-open-on-focus
        ng-change="basic.dateChanged()">
      </md-datepicker>
    </cc-trigger>

    <cc-select
      select-items="basic.items"
      label="basic.label"
      on-change="basic.onCinemaSelect(item)"
      class="cc-toolbar-item"
      cc-trigger
      activate="basic.activateSelect"
      event-name="click"
      element-name="md-select"
    ></cc-select>
  </div>
</div>
