<div class="container" id="cv-timeline-container">
  <div class="row">
    <div class="timeline-centered" ng-class="vm.getClass()">
      <timeline-entry ng-if="entry.data.length !== 0"
                      ng-repeat="(key, entry) in vm.entries"
                      entry="entry"
                      key-data="key"
                      selected-cinema="vm.basicInformationLoader.selectedItem"
                      is-left="$odd"></timeline-entry>
      <article class="timeline-entry begin" ng-if="vm.entries.length !== 0">

        <div class="timeline-end">

          <div class="arrow-down"></div>

        </div>

      </article>
      <div ng-if="vm.entries.length === 0">
        <h3>Žádná data pro aktuální filtry, prosím vyberte den a alespoň jedno kino.</h3>
      </div>
    </div>
  </div>
</div>
