<article class="timeline-entry" ng-class="vm.getCurrentClasses()" id="{{vm.keyData}}">
  <div class="timeline-entry-inner">
    <time class="timeline-time" datetime="{{vm.entry.timeObject.format('YYYY-MM-DD')}}"><span>{{vm.entry.timeObject.format('DD.MM.YYYY')}}</span>
      <span class="cv-time">{{vm.entry.getTime()}}</span></time>
    <div class="timeline-icon {{vm.entry['color-class']}}" ng-click="vm.entry.isVisible = !vm.entry.isVisible">
      <md-button class="md-icon-button" aria-label="Settings">
        {{vm.keyData}}:00
      </md-button>
    </div>

    <div class="timeline-label" ng-class="vm.bounce()">
      <div ng-repeat="oneEntry in vm.entry.data" class="div-group">
        <p>{{oneEntry.fn}} <span class="cc-time">{{oneEntry.tm}}</span></p>
        <speed-dial direction="'left'" items="vm.speedDialOptions" on-click="vm.onItemClick(item, oneEntry)"></speed-dial>
      </div>
    </div>
  </div>

</article>
