<div class="container" id="cv-timeline-container">
  <div class="row">
    <div class="timeline-centered" ng-class="vm.getClass()">
      <timeline-entry ng-repeat="entry in vm.entries"
                      entry="entry"
                      person-object="vm.personData"
                      is-left="$odd"></timeline-entry>
      <article class="timeline-entry begin">

        <div class="timeline-end">

          <div class="arrow-down"></div>

        </div>

      </article>
    </div>
  </div>
</div>
