<article class="timeline-entry" ng-class="vm.getCurrentClasses()" id="{{vm.keyData}}">
  <div class="timeline-entry-inner">
    <time class="timeline-time" datetime="{{vm.entry.timeObject.format('YYYY-MM-DD')}}"><span>{{vm.entry.timeObject.format('DD.MM.YYYY')}}</span>
      <span class="cv-time">{{vm.entry.getTime()}}</span></time>
    <div class="timeline-icon {{vm.entry['color-class']}}" ng-click="vm.entry.isVisible = !vm.entry.isVisible">
      <md-button class="md-icon-button" aria-label="Settings">
        {{vm.keyData}}:00
      </md-button>
    </div>

    <div class="timeline-label" ng-class="vm.bounce()">
      <div ng-repeat="oneEntry in vm.entry.data" class="div-group">
        <div>
          <span class="cc-time">{{oneEntry.tm}}</span>
          <span class="cc-inline-info cc-tit" ng-if="oneEntry.sb">Tit</span>
          <span class="cc-inline-info cc-dab" ng-if="oneEntry.db">Dab</span>
          <span class="cc-inline-info cc-3d" ng-if="oneEntry.td">3D</span>
          <div class="speed-dial">
          <span ng-if="oneEntry.isOpen">
            <button ng-show="oneEntry.isOpen"
                    ng-repeat="oneOption in vm.speedDialOptions"
                    class="animated fadeInRight md-fab md-raised md-mini md-button md-ink-ripple"
                    ng-class="{fadeInRight: oneEntry.isOpen, fadeOutRight: !oneEntry.isOpen}"
                    type="button"
                    title="{{oneOption.tooltip}}"
                    ng-click="vm.onItemClick(oneOption, oneEntry)">
            <md-icon>{{oneOption.icon}}</md-icon>
          </button>
          </span>
            <button class="md-icon-button md-button md-ink-ripple cc-speed-dial"
                    type="button"
                    ng-click="oneEntry.isOpen = !oneEntry.isOpen"
                    title="Akce">
              <ng-md-icon icon="{{oneEntry.isOpen ? 'format_align_left' : 'menu'}}" ng-attr-style="fill: {{fill}}" options='{"rotation": "none"}'></ng-md-icon>
            </button>
          </div>
        </div>
        <div>
          <p>{{oneEntry.fn}}</p>
        </div>
      </div>
    </div>
  </div>

</article>
